h1{
    text-align: center;
}

.game{
    
    text-align: center;
    margin-left: 430px;
    
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    text-align: center;
    height: 131px;
    width: 131px;
    margin-right: 2px;
    border-radius: 5px;
    font-size: 100px;
    box-shadow: #798478;
    background-color: black;
    color: aliceblue;
}

#reset{
    margin-top: 50px;
    margin-left: 580px ;
    background-color: #EAE0CC;
    border-radius: 50px;
}
body{
    background-color: #798478;
}
.name{
    background-color: aliceblue;
    height: 800px;
    width: 400px;
    margin-left: 430px;
    display: none;
}